apiVersion: apps/v1
kind: Deployment
metadata:
  name: kettu-media-server
  namespace: production
  labels:
    name: kettu-media-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kettu-media-server
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: kettu-media-server
    spec:
      containers:
      - name: kettu-media-server
        image: '$IMAGE'
        imagePullPolicy: Always
        env:
          - name: NODE_ENV
            value: "run"
          - name: API_URL
            value: "http://kettu-api-service"
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /api/server
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /api/server
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 30
      imagePullSecrets:
        - name: "gcr-json-key"
---
apiVersion: v1
kind: Service
metadata:
  name: kettu-media-server-service
  namespace: production
  labels:
    name: kettu-media-server
spec:
  type: LoadBalancer
  ports:
    - name: rtmp
      port: 1935
      targetPort: 1935
  selector:
    app: kettu-media-server


---
apiVersion: v1
kind: Service
metadata:
  name: kettu-media-service-http
  namespace: production
  labels:
    name: kettu-media-service-http
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8000
  selector:
    app: kettu-media-service
